.layout {
  height: 100vh;
  overflow: hidden;
}
.header {
  height: 50px;
  display: flex;
  align-items: center;
}
.sider {
  overflow: auto;
  height: 100%;
}

.menu {
  height: 100%;
}
.content {
  height: 100%;
  overflow: auto;
  padding: 10px;
}